<div class="container-fluid" style = "height: calc(100vh-12em);">
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 20rem; border: none;text-align: center;">
                <div class="card-body">
                    <app-upload-image></app-upload-image>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">My Profile</li>
                  <li class="list-group-item">My Address Book</li>
                  <li class="list-group-item">My Orders</li>
                </ul>
              </div>
        </div>
        <div class="col-md-9 col-sm-12">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width:70%;top: 13em;position: absolute;justify-content: space-evenly;align-content: normal;
            flex-wrap: wrap;">
                <div class="card-body">
                    <div class="container">
                        <form>
                            <div class="form-group">
                                <div class="row">
                                    <div class = "col-md-4">
                                        <label for="firstName" class="col-form-label">First Name</label>
                                        <input type="text" class="form-control" name="firstName" id="firstName" placeholder="Enter First Name">
                                    </div>
                                    <div class = "col-md-4">
                                        <label for="lastName" class="col-form-label">Last Name</label>
                                        <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Enter Last Name">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>